---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ServicesImplementation from '../components/ServicesImplementation.astro';
// Force rebuild - August 6, 2027
import ISOToolsSection from '../components/ISOToolsSection.astro';
import NewsSection from '../components/NewsSection.astro';
import ServicesOverview from '../components/ServicesOverview.astro';
---

<Layout title="CMS Consultores - Calidad y Gestión">
  <main>
    <Hero />
    <ServicesOverview />
    <ISOToolsSection />
    <NewsSection />
    <ServicesImplementation />
  </main>
</Layout>
